/*Reseteo basico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos generales de Body*/
body{
    font-family: "Lexend", sans-serif; /*Fuente importada de Google Fonts*/
    background-color: #141414;
    color: white;
    height: 100vh;
    display: block; /*Nada de flexbox*/
    text-align: center;
    padding-top: 60px;
}